<header>
  <ul class="navbar">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="/destinations">Destinations</a></li>
    <li class="nav"><a href="/recommendations">Recommendations</a></li>
    <li class="nav"><a href="/users">Users</a></li>
  </ul>
  <!-- <hr> -->
</header>
