<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <!-- <header>
        <nav>
            <a href="/users">Users</a><a href="/destinations">Destinations</a><a href="/recommendations">Recommendations</a>
        </nav>
    </header> -->
    <%- include('../partials/header') %>
    <main>
       <div class="content">
        <div>
        <h1>List of Destinations:</h1>
        <ul>
            <% destinations.forEach(destination => { %>
                <li><a href="/destinations/<%= destination._id %>"> <%= destination.city %>, <%= destination.country %></a></li>
            <% }) %> 
        </ul>
        <br>
        <p>
            <a href="/destinations/new"><button>Add a new destination</button></a>
            <a href="/destinations/seed" class="align-right"><button>Reset destinations</button></a>
        </p>
            </div>
        <div>
        <img src="plane-wing.jpg" class="plane">
        </div>
        </div>
    </main>
</body>
</html>