<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <!-- <header>
        <nav>
            <a href="/users">Users</a><a href="/destinations">Destinations</a><a href="/recommendations">Recommendations</a>
        </nav>
    </header> -->
        <%- include('../partials/header') %>
    <main>
       
        <div class="content">
        <div>
            <h1>List of Recommendations:</h1>
      
        <ul>
            <% recommendations.forEach(recommendation => { %>
                <li><a href="/recommendations/<%= recommendation._id %>"> <%= recommendation.place %> </a></li>
            <% }) %> 
        </ul>
        <br>
        <p>
            <a href="/recommendations/new"><button>Add a new recommendation</button></a>
            <a href="/recommendations/seed" class="align-right"><button>Reset recommendations</button></a>
        </p>
        </div>
        <div>
        <img src="plane-wing.jpg" class="plane">
        </div>
        </div>
    </main>
</body>
</html>