<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <!-- <header>
        <nav>
            <a href="/users">Users</a><a href="/destinations">Destinations</a><a href="/recommendations">Recommendations</a>
        </nav>
    </header> -->
        <%- include('../partials/header') %>
    <main>
        <!-- <p>
            <img src="images/vegetables.png" alt="some vegetables">
        </p> -->
        <h1>List of Users:</h1>
        <ul>
            <% users.forEach(user => { %>
                <li><a href="/users/<%= user._id %>"> <%= user.name %> </a></li>
            <% }) %> 
        </ul>
        <br>
        <p>
            <a href="/users/new"><button>Add a new user</button></a>
            <a href="/users/seed" class="align-right"><button>Reset users</button></a>
        </p>
    </main>
</body>
</html>